<h3 class="text offset-md-2">フォロワー一覧</h3>
<div class="row-fluid col-8">
  <% if users.exists? %>
    <!--div class="table-responsive"-->
      <table class="table table-hover table-condensed offset-md-3">
        <tbody>
          <% users.each do |u| %>
            <tr class="moves-contents" onclick='window.location="/public/users/<%= u.id %>"' role="link">
              <td><%= image_tag u.get_image(30,30) %><%= u.name %></td>
              <td>フォロー数：    <%= u.followings.count %></td>
              <td>フォロワー数：  <%= u.followers.count %></td>
            </tr>
          <% end %>
        </tbody>
      </#table>
    <!--/div-->
  <% else %>
    <p class="text-center">あなたをフォローしているユーザーはいません。</p>
  <% end %>
</div>