<h1 class="text-center pt-3">掲示板作成</h1>
<%= form_with model: @board,url: boards_path,method: :post,local: true do |f| %>
<%= render "public/shared/error_messages", resource: @board %>
  <div class="text-center form-group">
    <%= f.label :"タイトル",class: "col-12" %>
    <%= f.text_field :title, placeholder: "最大20文字まで", class: "col-10 col-md-6" %>
  </div>
  <div class="text-center form-group">
    <%= f.label :"本文",class: "col-12" %>
    <%= f.text_area :body, placeholder: "最大500文字まで",class: "col-10 col-md-6" %>
  </div>
  <div class="action">
    <%= f.submit "新規作成する",class: "btn btn-primary col-6 offset-3 col-md-2 offset-md-5" %>
  </div>
  <% end %>
</div>