<div class="row-fluid">
  <div class="col-8 offset-md-2 form-inline">
    <h1 class="text-nowrap pt-3"><%= @board.title %></h1><%= link_to "一覧に戻る",public_boards_path,class: "text-muted text-lowercase ml-auto pt-4" %>
  </div>

</div>
<div class="row justify-content-center">
  <div class="col-2 offset-md-2">
    <%= link_to public_user_path(@board.user) do %>
      <%= image_tag @board.user.get_image(110,110) %>
    <% end %>
  </div>
  <div class="col text-left">
    <h6 class="pb-2 pt-3"><%= link_to @board.user.name,public_user_path(@board.user),class: "text-dark" %></h6>
    <%= @board.body %>
  </div>
  <% @board_comments.each do |bc| %>
    <div class="row-fluid justify-content-center d-flex offset-md-2 pt-2 border-top">
      <div class="col-2 offset-2">
        <%= link_to public_user_path(bc.user) do %>
          <%= image_tag bc.user.get_image(90,90) %>
        <% end %>
      </div>
      <div class="col text-left">
        <h6 class="pb-2"><%= link_to bc.user.name,public_user_path(bc.user),class: "text-dark" %></h6>
        <%= bc.body %>
      </div>
    </div>
  <% end %>
</div>
<div class="row justify-content-center pt-5 mt-5">
  <%= form_with model:[@board,@board_comment],url: public_board_board_comments_path(@board.id),method: :post,local: true do |f| %>
    <div class="form-group">
      <%= f.text_area :body,placeholder: "コメント",size: "30x3" %>
    </div>
    <div class="action col-5">
      <%= f.submit :"投稿する" %>
    </div>
  <% end %>
</div>