<!DOCTYPE html>
<html>
  <head>
    <title>Gameconnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://kit.fontawesome.com/c44cf8e6f4.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <div class="container-fiuid">
        <div class="row-fiuid">
          <a class="navbar p-3 m-3" href="/">title</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <div class="search-form">
                  <%= form_with url: search_path, local: true do |f| %>
                  <%= f.text_field :word %>
                  <%= f.select :range, options_for_select([["User"],["Post"]]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward_match"],["部分一致","partial_match"]]) %>
                  <%= f.submit "検索",class: "btn btn-primary" %>
                  <% end %>
                </div>
                <li class="nav-item">
                  <%= link_to "ログアウト",destroy_user_session_path,method: :delete,class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧",public_posts_path,class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿する",new_public_post_path,class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザーページ",public_user_path(current_user),class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "お気に入りリスト",favorites_public_user_path(current_user),class: "btn" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ユーザー一覧",admin_users_path,class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧",admin_posts_path,class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "コメント一覧",admin_comments_path,class: "btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "管理者ログアウト",destroy_admin_session_path,method: :delete,class: "btn" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "ログイン",new_user_session_path %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
                </li>
                <li class="nav-item">
                  <%= link_to "管理者ログイン",new_admin_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice] %>
        <p class="text-success text-center"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="text-danger text-center"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
