<!DOCTYPE html>
<html>
  <head>
    <title>Gameconnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://kit.fontawesome.com/c44cf8e6f4.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <div class="container-fluid">
        <div class="row-fuid">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <a class="navbar p-3 m-3" href="/">title</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="Navbar">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <%= render 'public/shared/search' %>
                <% elsif admin_signed_in? %>
                  <%= render 'admin/shared/search' %>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="row-fluld">
      <% if flash[:notice] %>
        <p class="text-success text-center"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="text-danger text-center"><%= alert %></p>
      <% end %>
      <div class="sidebar-fixed">
        <nav class="bg-light col-3 h-100">
          <ul class="nav flex-column">
            <% if user_signed_in? %>
              <li class="nav-item md-2">
                <%= link_to "ログアウト",destroy_user_session_path,method: :delete,class: "btn" %>
              </li>
              <li class="nav-item md-2">
                <%= link_to "投稿一覧",public_posts_path,class: "btn" %>
              </li>
              <li class="nav-item md-2">
                <%= link_to "投稿する",new_public_post_path,class: "btn" %>
              </li>
              <li class="nav-item md-2">
                <%= link_to "ユーザーページ",public_user_path(current_user),class: "btn" %>
              </li>
              <li class="nav-item md-2">
                <%= link_to "お気に入りリスト",favorites_public_user_path(current_user),class: "btn" %>
              </li>
              <li class="nav-item md-2">
                <%= link_to "通知一覧",public_notifications_path,class: "btn" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "ユーザー一覧",admin_users_path,class: "btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧",admin_posts_path,class: "btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "コメント一覧",admin_comments_path,class: "btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログアウト",destroy_admin_session_path,method: :delete,class: "btn" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン",new_user_session_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログイン",new_admin_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <main class="bg-light col-9">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
